<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>My To Do List</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <% if(DAY === "Saturday" || DAY === "Sunday"){ %>
            <h1 style="color: purple"><%= DAY %></h1>
       <% } 
        else{ %>
            <h1 style="color: blue"><%= DAY %></h1>
        <% }
        %> 
        <p><%= DayDescription %></p>
        
        <ul>
            <% for(var i = 0; i < newListItems.length; i++) 
            { %>
                 <li><%= newListItems[i] %></li> 
            <% } %>
        </ul>

        <form class="" action="/" method="post">
            <input type="text" name="newItem">
            <button type="submit" name="button">Add</button>
        </form>
    </body>
</html>