<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>My To Do List</title>
    <link rel="stylesheet" href="css/style.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"> -->
</head>

<body>
    <div class="box" id="heading">
        <h1><%= DAY %></h1>
        
    </div>

    <div class="box" id="body">
        <p><%= DayDescription %></p>
    </div>

    <div class="box">

        <% for(var i = 0; i < newListItems.length; i++) { %>
        <div class="item">
            <input type="checkbox">
            <p><%= newListItems[i] %></p>
        </div>
        <% } %>

        <form class="" action="/" method="post">
            <input type="text" name="newItem" placeholder="New Task" autocomplete="off">
            <button type="submit" name="button">+</button>
        </form>
    </div>
</body>

</html>